<%# content_for :admin_pages do %>

<div class="blue">
<div class="main_content">
	
	<h1>Edit News</h1>	
	
	<%= form_for :news, :url => news_url(@news), :html => {:method => :put, :multipart => true} do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>

</div>	
</div>
<%# end %>
